/* .navbar {
	background-color: #00000020 !important;
} */

::-moomo-region-main {
	background-color: #00000020 !important;
	border-radius: 15px;
	padding: 0.8em 1em;
}

::-moomo-drawer {
	background-color: #00000020 !important;
}

::-moomo-overlay {
	&::before {
		content: "";
		z-index: -1;
		border-radius: inherit;
		position: absolute;
		inset: 0;
		backdrop-filter: blur(10px);
		background-color: #00000040;
		background-image: var(--moomo-bg-noise);
		background-size: 500px 500px;
		background-repeat: repeat;
	}
}

::-moomo-cards {
	background-color: #00000020;
	box-shadow: inset 0 0 0 100vmax transparent, 1px 2px 4px var(--moomo-shadow-color) !important;
	transition: box-shadow var(--moomo-transition-short),
		transform var(--moomo-transition-short);

	&:-moomo-hover {
		box-shadow: inset 0 0 0 100vmax var(--moomo-hover-tint),
			2px 4px 12px var(--moomo-shadow-color) !important;
		transform: translate(-1px, -2px);

		& a:not(.dropdown-item) {
			text-decoration: underline;
		}
	}

	&:-moomo-active {
		box-shadow: inset 0 0 0 100vmax var(--moomo-active-tint),
			2px 4px 12px var(--moomo-shadow-color) !important;
	}

	::-moomo-favourite-icon {
		color: gold !important;
	}
}

::-moomo-loading {
	background: var(--moomo-active-tint);
}

::-moomo-loading-text {
	border-radius: 3px;
}
