::-moomo-question {
	border: 1px solid currentColor;
	border-radius: 10px;
	margin-block: 10px;

	::-moomo-question-details {
		border: inherit;
		border-width: 0;
		border-bottom-width: inherit;
		border-left-width: inherit;
		border-radius: 0;
		border-bottom-left-radius: inherit;
		margin: 0 0 1ch 1ch;
		padding: 10px;
		float: inline-end;
		text-align: end;
		z-index: 10;
		width: max-content;
		position: sticky;
		top: var(--moomo-nav-height);
	}

	::-moomo-question-inner {
		padding: 10px;
	}
}

/* #quiz-timer-wrapper {
	pointer-events: none;

	> * {
		pointer-events: all;
	}

	#quiz-timer {
		background-color: var(--uclearn-translucent-bg);
		border-radius: var(--uclearn-radius);
		border: none;
		align-content: center;
	}
} */

/* .que,
.que .correctness.badge {
	--uclearn-accent-color: #808080;

	&.correct {
		--uclearn-accent-color: var(--uclearn-color-success);
	}

	&.partiallycorrect {
		--uclearn-accent-color: var(--uclearn-color-warning);
	}

	&.incorrect,
	&.notanswered {
		--uclearn-accent-color: var(--uclearn-color-error);
	}
} */

/* .automatic-completion-conditions .badge {
	--uclearn-accent-color: var(--uclearn-translucent-bg);
	color: inherit;
	background-color: color-mix(
		in srgb,
		var(--uclearn-accent-color) 20%,
		var(--uclearn-translucent-bg) 80%
	);
	mix-blend-mode: normal;
	padding: 0.4rem 1ch;
	line-height: 1.2em;

	&.alert-success {
		--uclearn-accent-color: var(--uclearn-color-success);
	}
} */

/* .activity-dates {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	column-gap: 1ch;

	> div {
		display: contents;
	}

	strong {
		grid-column: 1;
		justify-self: end;
	}
} */

.que {

	/* > .info .state {
		color: color-mix(
			in srgb,
			var(--uclearn-accent-color) 30%,
			var(--uclearn-foreground)
		);
	} */

	/* .formulation,
	.outcome,
	.comment,
	.specificfeedback,
	.generalfeedback,
	.numpartscorrect,
	.rightanswer,
	.im-feedback,
	.feedback,
	.coderunnerexamples,
	p {
		margin: 0;
	} */

	/* .content img:not([width], [height]) {
		max-width: 100%;
		width: auto;
		height: auto;
	} */

	/* .stackprtfeedback .fa {
		vertical-align: middle;
	}

	.coderunner-examples {
		margin-block: 0.5rem 0;
	}

	.prompt {
		margin-block: 0.5rem;
	}

	.table-responsive,
	.coderunner-examples {
		width: auto;
		max-width: 100%;
	}

	.coderunner-test-results {
		padding: 0;
		background: transparent;
	}

	.cr-test-table-div {
		background-color: transparent;
		padding: 0;

		table {
			height: 1px;
			display: table;
		}

		tr {
			height: 100%;
		}

		td:has(> :is(textarea, input):only-child) {
			padding: 0;
			height: 100%;

			> :is(textarea, input) {
				background-color: transparent;
				field-sizing: content;
				display: block;
				border: none;
				padding: 0.3rem;
				min-height: 100%;
				resize: none !important;
			}
		}
	}

	.outcome,
	.comment {
		margin: 0;
		padding: calc(var(--uclearn-radius) - 0.2em) var(--uclearn-radius);
		border-radius: var(--uclearn-radius);
		color: inherit;
		background-color: color-mix(
			in srgb,
			var(--uclearn-accent-color) 10%,
			var(--uclearn-translucent-bg) 90%
		);
		width: fit-content;
		max-width: 100%;
		margin-inline: auto;

		.correctness.badge {
			padding: 0.1em 0.8ch 0.3em;
			color: var(--uclearn-foreground);
			background-color: color-mix(
				in srgb,
				var(--uclearn-accent-color) 50%,
				var(--uclearn-background) 50%
			);
		}
	} */

	/* TODO: proper fix for nested background containers */
	/* .outcome:has(> .feedback > .stackprtfeedback:only-child):not(
			:has(> :not(.accesshide, .feedback:only-of-type))
		) {
		padding: 0;
		border-radius: 0;
		background-color: transparent;
	}

	.content {
		border-radius: var(--uclearn-radius);
		padding: calc(0.5 * var(--uclearn-radius));
		background-color: var(--uclearn-translucent-bg);
		margin-bottom: 1rem;
	}

	.answer .specificfeedback {
		border: 1px solid currentColor;
		border-radius: var(--uclearn-radius);
		padding: var(--uclearn-gap);
		margin-inline: 1ch;
	} */

	/* &:has(table) {
		overflow: clip;

		table {
			display: block;
			overflow-x: auto;
			max-width: fit-content;
		}
	}

	.qtext {
		margin: 0;
	}

	.im-controls:not(:has(> :not(input[type="hidden"]))) {
		margin: 0;
	} */
}

/* .que .content {
	margin-left: 0;
}*/


/* .stack-hint {
	background-color: transparent;
	border: none;
}

pre:has(> [id^="stack-iframe-holder-"]) {
	display: flex;
	margin: 0.5rem;
	overflow: hidden;
}

.ddarea {
	img {
		padding: 0 !important;
		object-fit: contain;
		object-position: center;
		max-width: none !important;
	}
}

.stackprtfeedback {
	--uclearn-accent-color: #808080;
	margin: 0.2rem 1ch;
	background-color: color-mix(
		in srgb,
		var(--uclearn-accent-color) 10%,
		var(--uclearn-translucent-bg) 90%
	);
	border-radius: var(--uclearn-radius);
	padding: var(--uclearn-gap);
	padding-top: 0;

	&:has(> .correct) {
		--uclearn-accent-color: var(--uclearn-color-success);
	}

	&:has(> .partiallycorrect) {
		--uclearn-accent-color: var(--uclearn-color-warning);
	}

	&:has(> .incorrect, > .notanswered) {
		--uclearn-accent-color: var(--uclearn-color-error);
	}
}

.path-mod-assign {
	.submissionstatus,
	.submissionstatusdraft,
	.submissionnotgraded {
		color: inherit;
		background-color: color-mix(
			in srgb,
			var(--uclearn-color-warning) 10%,
			var(--uclearn-translucent-bg)
		);
	}

	.submissionstatussubmitted,
	.submissiongraded,
	.earlysubmission {
		color: inherit;
		background-color: color-mix(
			in srgb,
			var(--uclearn-color-success) 10%,
			var(--uclearn-translucent-bg)
		);
	}

	.submissionlocked,
	.submissionreopened,
	.latesubmission,
	.gradingreminder {
		color: inherit;
		background-color: color-mix(
			in srgb,
			var(--uclearn-color-error) 10%,
			var(--uclearn-translucent-bg)
		);
	}
} */

.gradingform_rubric {
	/* max-width: 100%;

	.criterion {
		border: none;
	}

	.criterion .score {
		color: color-mix(
			in srgb,
			var(--uclearn-color-success) 30%,
			var(--uclearn-foreground)
		);
	}

	.criterion td {
		background: transparent;
	}

	.criterion.even {
		background-color: var(--uclearn-hover-tint);
	} */

	/* .gradingform_rubric .criterion .description {
		min-width: 150px;
		font-weight: 700
	} */

	.criterion .levels .level {
		/* border-left: 1px solid #ddd; */
		/* max-width: 150px */
		/* border-color: currentColor;

		&.currentchecked {
			background: color-mix(
				in srgb,
				var(--uclearn-color-complete) 10%,
				var(--uclearn-translucent-bg)
			);
		}

		&.checked {
			background-color: color-mix(
				in srgb,
				var(--uclearn-color-success) 10%,
				var(--uclearn-translucent-bg)
			);
			border-block: none;
		} */
	}

	/* .gradingform_rubric .criterion .levels .level .level-wrapper {
		position: relative
	}

	.gradingform_rubric .criterion .levels .level.last {
		border-right: 1px solid #ddd
	} */
}

/* .ln-important-box,
.ln-important-box-definition {
	border-color: currentColor;
}

.ln-optional {
	background-color: var(--uclearn-hover-tint);
	border-radius: var(--uclearn-radius);
}

.ln-prob-multi-exp-container {
	background-color: transparent;
	border-color: currentColor;
	border-radius: var(--uclearn-radius);
	padding: var(--uclearn-gap);
}

.ln-prob-success,
.ln-prob-failure {
	color: color-mix(
		in srgb,
		var(--uclearn-accent-color) 40%,
		var(--uclearn-foreground)
	);
	border-color: currentColor;

	&.ln-prob-success {
		--uclearn-accent-color: var(--uclearn-color-success);
	}

	&.ln-prob-failure {
		--uclearn-accent-color: var(--uclearn-color-error);
	}
} */

/* .stack table td > .matrixnobrackets {
	padding: 0;
	min-width: 100%;

	table {
		min-width: 100%;
		max-width: none;
		display: inline-table !important;
		table-layout: fixed;

		td {
			padding: 0;

			&:not(:has(*)) {
				display: none;
				overflow: hidden;
				width: 0;
				max-width: 0;
			}

			input {
				max-width: none;
				min-width: 100%;
				field-sizing: content;
			}
		}
	}

	td:has(> &) {
		padding: 0;
	}
} */






/* .path-mod-quiz #mod_quiz_navblock { */
::-moomo-quiz-navigation {
	/* .mod_quiz-section-heading { */
	::-moomo-section-heading {
		font-weight: normal;
		font-size: 1.15rem;
		letter-spacing: 0.5px;
		padding: 0.2rem;
		margin-bottom: 0.5rem;
		border-bottom: 1px solid hsl(from currentColor h s l / 0.2);
	}

	/* .qnbutton */
	::-moomo-question-nav-button {
		border-radius: var(--uclearn-radius);
		height: calc(1lh + 10px);
		padding-block: var(--uclearn-gap);
		text-shadow: 1px 1px 6px var(--moomo-shadow-color);
		/* text-decoration: none; */
		background-color: #00000020;
		/* box-shadow: inset 0 0 0 100vmax transparent !important; */
		/* transition: background-color var(--uclearn-transition-short),
			box-shadow var(--uclearn-transition-short),
			padding-block var(--uclearn-transition-short); */

		.thispageholder {
			border: none;
		}

		&:-moomo-hover {
			box-shadow: inset 0 0 0 100vmax var(--uclearn-hover-tint) !important;

			&:not([title*="Question i"]) {
				padding-block: 0 var(--uclearn-radius);
			}

			.trafficlight {
				background-position: 50% 95%;
			}
		}

		&:-moomo-active {
			box-shadow: inset 0 0 0 100vmax var(--uclearn-active-tint) !important;
		}

		&.thispage {
			.thispageholder {
				border: 2px solid var(--uclearn-color-complete);
				border-radius: var(--uclearn-radius);
				width: 100%;
				height: 100%;
			}

			& + & .thispageholder {
				border-left: none;
			}

			&:has(+ &) .thispageholder {
				border-right: none;
			}
		}

		& + & {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			.thispageholder {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		&:has(+ &) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			.thispageholder {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.trafficlight {
			margin-top: 0;
			background-position: 50% 120%;
			background-size: auto var(--uclearn-radius);
			width: 100%;
			height: 100%;
			border-radius: 0;
			z-index: -1;
			background-color: transparent;
			transition: background-position var(--uclearn-transition-short);

			:root.uclearn-dark-mode & {
				filter: invert(1) hue-rotate(180deg);
			}
		}

		&.notyetanswered {
			--uclearn-accent-bg: var(--uclearn-background);
		}

		&.complete,
		&.answersaved,
		&.requiresgrading {
			--uclearn-accent-bg: var(--uclearn-color-complete);
		}

		&.correct {
			--uclearn-accent-bg: var(--uclearn-color-success);
		}

		&.partiallycorrect,
		&.invalidanswer {
			--uclearn-accent-bg: var(--uclearn-color-warning);
		}

		&.notanswered,
		&.incorrect {
			--uclearn-accent-bg: var(--uclearn-color-error);
		}
	}
}

