#page.drawers .main-inner,
.nav-link,
.dropdown-menu,
.popover-region-container,
#region-main,
.message-app,
li .activity,
.secondary-navigation .navigation,
.list-group-item,
.stack-hint,
.drawer-toggles .drawer-toggler .btn,
.que.stack .stackinputfeedback,
.que.stack .stackprtfeedback,
.path-mod .activity-header,
table.quizreviewsummary .cell,
#page-question-type-coderunner div.ui_wrapper,
.que.coderunner div.ui_wrapper,
#page-question-type-coderunner table.coderunner-test-results .header,
.que.coderunner table.coderunner-test-results .header,
.que.coderunner table.coderunnerexamples .header,
.que.coderunner tr td,
.moremenu .nav-tabs {
	background-color: transparent;
}
:where(
	.que .info,
	.card) { /* less specificity required */
	background-color: transparent;
}
.formulation,
.card-footer,
.qtype-coderunner-html-outer-div > *[style*="background-color"],
.coderunner_graphcanvas,
.navbar {
	background-color: transparent !important;
}

.dropdown-menu,
.dropdown-item,
.btn,
.course-section .sectionname > a,
.block .block-cards span.categoryname,
.block .block-cards .btn-link,
hr,
.courseindex .courseindex-item,
.courseindex .courseindex-item .courseindex-link,
.courseindex .courseindex-item .courseindex-chevron,
.nav-link {
	color: inherit;
}
.formulation,
.navbar a .icon {
	color: inherit !important;
}

.modal-backdrop {
	display: none;
}

.que,
.que .info,
.path-mod .activity-information .completion-info,
.que .formulation {
	padding: 0;
}

.que,
.que .info,
.que .content,
.que .formulation,
#page.drawers .drawer-right-toggle,
.navbar-brand .logo,
.dropdown-divider,
#page-header {
	margin: 0;
}

.text-dark,
.text-muted {
	color: var(--moomo-foreground-muted) !important;
}

.popover-region-container,
.que .info,
.que .formulation,
.que.stack .stackinputfeedback,
.stack-hint,
.btn {
	border: none;
}

/* TODO: user styles? */
.tox {
	color: inherit;

	.tox-statusbar,
	.tox-editor-header,
	.tox-toolbar-overlord,
	.tox-toolbar,
	.tox-toolbar__primary,
	.tox-toolbar__overflow,
	.tox-edit-area__iframe,
	.tox-menubar {
		background: transparent;
	}
	
	.tox-menu,
	.tox-pop__dialog {
		background-color: transparent;
		border: none;
	}

	.tox-collection__item-icon {
		height: 0;
	}

	.tox-collection__item-accessory,
	.tox-collection__item-label {
		height: auto;
		line-height: normal;
	}

	.tox-collection__group {
		display: contents;
	}

	.tox-edit-area__iframe {
		filter: invert() hue-rotate(180deg);
		color-scheme: light;
	}

	.tox-collection__item-label *[style*="color"] {
		color: inherit !important;
	}

	.tox-collection__item,
	.tox-mbtn,
	.tox-tbtn {
		color: inherit;
		background-color: transparent;
	}

	.tox-tbtn svg,
	.tox-statusbar__resize-handle svg,
	.tox-statusbar__branding svg {
		fill: currentColor;
	}

	.tox-tbtn--disabled,
	.tox-statusbar,
	.tox-statusbar a,
	.tox-statusbar__path-item,
	.tox-statusbar__wordcount {
		color: var(--moomo-foreground-muted);
	}
}

.popover-region-container {
	top: unset;
}

.dropdown-item {
	width: auto;
}

.secondary-navigation {
	padding-inline: 0 !important;
}

.que {
	display: block;
}

hr,
.dropdown-divider,
.que.stack :is(.matrixsquarebrackets, .matrixroundbrackets) {
	border-color: currentColor;
}

.que.stack .matrixsquarebrackets {
	background-image: linear-gradient(currentColor, currentColor),
		linear-gradient(currentColor, currentColor),
		linear-gradient(currentColor, currentColor),
		linear-gradient(currentColor, currentColor);
}

.qnbutton {
	margin-right: 0;
	overflow: hidden;
}

.secondary-navigation .navigation {
	margin: 0;
	padding: 0;
	border-bottom: none;
}

#page.drawers .main-inner {
	padding-inline: 0;
}

.row {
	margin-inline: 0;
}

.dropdown-menu,
.MathJax_Menu {
	border: none;
	padding: 0;
	margin: 0;

	.MathJax_MenuArrow {
		color: transparent;
		background-color: var(--moomo-foreground-muted);
		height: 0.7em;
		width: 0.7em;
		clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
	}
}

.dropdown-item[aria-current="true"]::before,
.dropdown-item[aria-selected="true"]::before {
	content: unset;
}

::-moomo-loading {
	animation: none;
}

[data-region="event-list-loading-placeholder"] > :last-child > .bg-pulse-grey {
	display: none;
}

.clearfix::after {
	display: none;
}

.ace_text-input {
	position: absolute !important;
	/* TODO: why are (resizable?) fields like coderunner and tinymce messing with floats and container heights and stuff */
}

.multiblock .row {
	align-items: stretch;
	gap: var(--uclearn-gap-large);
	margin-inline: 0;

	> * {
		margin: 0;
	}
}
