& {
	color-scheme: light dark;
}

&.__moomo-light {
	color-scheme: light;
}

&.__moomo-dark {
	color-scheme: dark;
}

&.__moomo-dark body {
	color: white;
}

&.__moomo-dark :is(
	.navbar .navbar-brand .logo,
	.coderunner_graphcanvas) {
	filter: invert(1) hue-rotate(180deg);
}
